<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd           
          http://www.springframework.org/schema/jdbc     http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd
       ">



	<context:component-scan base-package="${groupId}.impl" />



	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://localhost:3306/srb4j_integration_test?characterEncoding=UTF-8" />
		<property name="username" value="srb4j_test" />
		<property name="password" value="srb4j_123" />
	</bean>

	<!-- You can setup a local smtp server on your dev machine, such as postfix 
		on Mac -->
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="localhost" />
		<property name="port" value="25" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="username" value="doesntmatter" />
		<property name="password" value="doesntmatter" />
		<property name="javaMailProperties">
			<props>
				<prop key="smtp.smtp.auth">true</prop>
				<prop key="smtp.smtp.starttls.enable">false</prop>
				<prop key="mail.smtp.connectiontimeout">6000</prop>
				<prop key="mail.smtp.timeout">6000</prop>
			</props>
		</property>
	</bean>


	<bean id="psoConfig" class="${groupId}.impl.pso.common.PsoConfig">
		<property name="host" value="localhost" />
		<property name="port" value="7070" />
	</bean>


	<import resource="classpath*:spring/spring-impl.xml" />

</beans>