#note: no whitespace before or after a value
#note: the keys should look like a java variable
#note: don't remove any placeholder even if you don't the configuration

dbHost=someHost
dbPort=3306
dbSchema=someDb
dbUsername=some_name
dbPassword=some_password

#smtp setup is required for "forget password flow". You can leave them as they are if you are just eager to start up the system.
smtpHost=someHost
smtpPort=somePort
smtpUsername=some_name
smtpPassword=some_password
#true or false
smtpSmtpStarttlsEnable=false

#In what name will the emails be sent? You can leave them as they are if you are just eager to start up the system.
orgSupportDesk=Some Company Support Desk
orgSupportEmail=Some Email

#the host of your app (not including the servlet context path)
schemeAndHost=http://localhost:8080/
#whether to enable swagger json
enableSwagger=true



#IF you want to let the client login with social sites' auth code, enable the following; otherwise, leave them as they are
##for desktop clients (non-web, non-mobile)
googleClientId=placeholder
googleClientSecret=placeholder


##for web clients which uses Google Sign-in's javascript SDK
googleWebClientId=placeholder
googleWebClientSecret=placeholder

facebookClientId=placeholder
facebookClientSecret=placeholder

#The header of "Access-Control-Allow-Origin" to allow ajax access from html clients.
#Set it as "*" if you allow access from everywhere. If you don't allow cors, leave this value empty
corsOriginHeader= 