<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">



	<servlet>
		<servlet-name>fo-rest-doc-servlet</servlet-name>
		<servlet-class>${package}.webapp.root.FoRestDocServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>fo-rest-doc-servlet</servlet-name>
		<url-pattern>/fo-rest-doc</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>bo-portal-servlet</servlet-name>
		<servlet-class>${package}.webapp.bo.portal.BoAllInOneServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>bo-portal-servlet</servlet-name>
		<url-pattern>/bo/portal/*</url-pattern>
	</servlet-mapping>



	<servlet>
		<servlet-name>fo-rest</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>
				io.swagger.jaxrs.listing,
				${package}.webapp.fo.rest
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>fo-rest</servlet-name>
		<url-pattern>/fo/rest/*</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>fo-rest-swagger-init</servlet-name>
		<servlet-class>${package}.webapp.fo.rest.support.FoSwaggerJaxrsConfig</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>



	<context-param>
		<param-name>log4jConfigLocation</param-name>
		<param-value>/WEB-INF/log4j.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>


	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>



</web-app>
